<% layout("layout") %>
<div class="three-columns">
    <h1>Dcoument</h1>
        <div class="row">
            <label for="last-name">Upload:</label>
            <div class="row">
                <input id="photograph" type="file" value="" accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
            </div>
        </div>
        <input class="btn-submit editsubmit" type="submit" value="Submit" />
    </form>
</div>