<% layout("layout") %>

<div class="three-columns">
    <h1>Change Password</h1>
    <form name='changepass' method="post" action="/actChangePass" class="contact-form" onsubmit="return verify_pass()">
        <div class="row">
            <label for="oldPass" style="width:150px;">Old Password:</label>
            <div class="row">
                <div class="text">
                    <input type='password' id="txtoldPass" name="txtoldPass"  value="">
                </div>
            </div>
        </div>
        <div class="row">
            <label for="newPass" style="width:150px;">New Password:</label>
            <div class="row">
                <div class="text">
                    <input type='password' id="txtnewPass" name="txtnewPass"  value="">
                </div>
            </div>
        </div>
        <div class="row">
            <label for="rePass" style="width:150px;">Re-Enter Password:</label>
            <div class="row">
                <div class="text">
                    <input type='password' id="txtrePass" name="txtrePass"  value="" onkeypress="searchKeyPress(event);">
                </div>
            </div>
        </div>
        <input id="btnSubmit" class="btn-submit editsubmit" type="button" value="Submit" onclick="if(verify_pass()){authentication_pass()}"/>
    </form>
</div>

